.markdown {
    --ifm-h1-vertical-rhythm-top: 3;
    --ifm-h2-vertical-rhythm-top: 2;
    --ifm-h3-vertical-rhythm-top: 1.5;
    --ifm-heading-vertical-rhythm-top: 1.25;
    --ifm-h1-vertical-rhythm-bottom: 1.25;
    --ifm-heading-vertical-rhythm-bottom: 1;
}

.markdown:after,.markdown:before {
    content: "";
    display: table
}

.markdown:after {
    clear: both
}

.markdown h1:first-child {
    --ifm-h1-font-size: 3rem;
    margin-bottom: calc(var(--ifm-h1-vertical-rhythm-bottom)*var(--ifm-leading))
}

.markdown>h2 {
    --ifm-h2-font-size: 2rem;
    margin-top: calc(var(--ifm-h2-vertical-rhythm-top)*var(--ifm-leading))
}

.markdown>h3 {
    --ifm-h3-font-size: 1.5rem;
    margin-top: calc(var(--ifm-h3-vertical-rhythm-top)*var(--ifm-leading))
}

.markdown>h4,.markdown>h5,.markdown>h6 {
    margin-top: calc(var(--ifm-heading-vertical-rhythm-top)*var(--ifm-leading))
}

.markdown>p,.markdown>pre,.markdown>ul,.tabList__CuJ {
    margin-bottom: var(--ifm-leading)
}

.markdown li>p {
    margin-top: var(--ifm-list-paragraph-margin)
}

.markdown li+li {
    margin-top: var(--ifm-list-item-margin)
}